<?xml version="1.0"?>
<launch>
	<param name="/use_sim_time" value="true" />
	 <!-- start gazebo with the simulated scenario -->
	
	<include file="$(find robotics_challenge)/launch/turtlebot_world.launch">
    	<arg name="init_x" value ="0" />
    	<arg name="init_y" value ="-4.4" />
    	<arg name="init_a" value ="0" />
		<arg name="goal_x" value ="2" />
		<arg name="goal_y" value ="4.85" />
		<arg name="world_file" value="$(find robotics_challenge)/worlds/robotics_lab_obstacle.world" />
	</include>

	<!--Start the map server for the path planner-->
 	<node name="map_server" pkg="map_server" type="map_server" args="$(find robotics_challenge)/maps/robotics_lab_reduced.yaml"/>
	<node pkg="costmap_2d" type="costmap_2d_node" name="costmap_2d" output="screen">
        <rosparam command="load" file="$(find robotics_challenge)/cfg/global_costmap_params.yaml" />
    </node>
	
	<!--Start the Montecarlo Localization module-->
	<node pkg="amcl" type="amcl" name="amcl" args="scan:=/scan">
		<param name="initial_pose_x" value="0" /> 
    	<param name="initial_pose_y" value="0" />
		<param name="initial_pose_a" value="0" />
	</node>

	<!-- Solution nodes -->
	<node name="planner" pkg="challenge" type="planner_node.py" output="screen">
    	<rosparam command="load" file="$(find challenge)/cfg/challenge2.yaml" />
  	</node>
	<node pkg="challenge" type="control.py" name="control" output="screen">
		<!-- <remap from="/cmd_vel/tracker" to="cmd_vel_mux/input/navi"/> -->
		<rosparam command="load" file="$(find challenge)/cfg/globalParams.yaml"/>
	</node>

	 <node pkg="challenge" type="orcaGazebo.py" name="orca" output="screen">
		<rosparam command="load" file="$(find challenge)/cfg/orcaParams.yaml"/>
	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find robotics_challenge)/rviz/turtlebot.rviz"/>
</launch>

